body {
    font-family: Josefin Sans;
}

#project {
    display: none;
}

h2 {
    font-size: 45px;
    font: Garamond;
}

h3 {
    font-size: 35px;
    font: Garamond;
}

.border {
    width: 80px;
    height: 80px;
    line-height: 90px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    border-style: 1px solid gray;
}
