<br><br>
<div class="container-fluid" id="project">
    <h2 style="text-align: center;">Your Project From Start To Finish</h2><br><br>

    <div class="row">
        <div class="col-md-1">
            <h1 class="border"><i style='font-size:40px' class='far'>&#xf007;</i></h1>
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h4>PRODUCT CONCEPTION</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-md-1">
            <h1 class="border"><i style="font-size:40px" class="fa">&#xf1fb;</i></h1>
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h4>DEVELOPMENT</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-md-1">
            <h1 class="border"> <i style='font-size:40px' class='fab'>&#xf18c;</i></h1>
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h4>FRAGRANCE</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>

    </div><br><br>

    <div class="row">
        <div class="col-md-1">
            <h1 class="border"><i style='font-size:40px' class='fas'>&#xf0c3;</i></h1>
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h4>PRODUCTION</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-md-1">
            <h1 class="border"><i style='font-size:40px' class='fas'>&#xf06b;</i></h1>
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h4>DESIGNING &#38; PACKAGING</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-md-1">
            <h1 class="border"><i style="font-size:40px" class="fa">&#xf00c;</i></h1>
        </div>
        <div class="col-md-3" style="text-align: justify;">
            <h4>PRODUCT SAFETY</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>

    </div>
</div>