<div class="container" id="featureservices">
    <h3 style="text-align: center;">Featured Services</h3><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="fall-item fall-effect">
                <img src="assets/images/candle.jpg" alt="Avatar" class="image">
                <div class="mask"><br><br>
                    <h2>Create Your Own</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="fall-item fall-effect">
                <img src="assets/images/candle.jpg" alt="Avatar" class="image">
                <div class="mask"><br><br>
                    <h2>Create Your Own</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fall-item fall-effect">
                <img src="assets/images/candle.jpg" alt="Avatar" class="image">
                <div class="mask"><br><br>
                    <h2>Create Your Own</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="fall-item fall-effect">
                <img src="assets/images/candle.jpg" alt="Avatar" class="image">
                <div class="mask"><br><br>
                    <h2>Create Your Own</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>