<div class="container bg">
    <div>
        <p>An Award Winning Partner for all your Projects</p>


    </div>
</div>
<div class="container text" style="background-image: url(assets/images/banner.jpg); text-align: center;"><br><br>
    <h1>Inspiring Creativity in a World</h1>
    <p>Contract Manufacturing-Private Label</p>
    <button type="button" class="btn" style="background-color: black; color: white;">Our Services</button>
    <!-- <img src="assets/images/banner.jpg" class="img img-responsive" alt=""> -->
    <!-- <div class="centered" style="text-align: center;"> -->

    <!-- </div> -->
</div><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img src="assets/images/certificate.png" class="img1 img-responsive" alt="">

        </div>
        <div class="col-md-4" style="text-align: center;">
            <h2>Contract<br>Manufacturing</h2><br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-md-3">
            <img src="assets/images/certificate.png" class="img1 img-responsive" alt="">

        </div>
        <div class="col-md-1"></div>

    </div>
</div><br><br>
<app-section></app-section>
<app-section1></app-section1>
<app-section2></app-section2><br><br>
<app-section3></app-section3><br><br>
<app-section4></app-section4>